.logo-main {
    z-index: 10;
    transform: scale(0.8);
    transition: all 0.8s $ease-out-expo;
    .logo-header {
        color: var(--color-black);
        font-size: var(--font-size-h1);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-shrink: 0;
        transition: all 0.8s $ease-out-expo;
        &::after {
            content: '';
            height: 100px;
            width: 100px;
            position: absolute;
            border: 4px dashed var(--color-primary);
            border-radius: 100px;
            opacity: 0;
            transition: all 0.8s $ease-out-expo;
            animation: rotation 3s ease-in-out;
        }
    }

    &:hover {
        transform: scale(1);
        .logo-header {
            color: var(--color-primary);
            &::after {
                opacity: 1;
            }
        }
    }
}
.nav-is-active {
    .logo-header {
        color: var(--color-white);
    }
}
@keyframes rotation {
    from {
        transform: rotateX('60deg');
    }
    to {
        transform: rotateX('180deg');
    }
}
