/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #f5eaf5;
    --color-black: #34353b;

    // Couleurs du projet
    --color-primary: #9cacbc;

    --color-bg-primary: var(--color-white);
    --color-bg-secondary: #4b525c;
}
