{% include '_partials/_header.html' %}
<section class="hero">
    <div class="wrapper">
        <div class="hero__media" data-component="Animation" data-container></div>
        <div class="hero__content">
            <h1>Cahier de practique</h1>
            <p>
                voici mon cahier de practique que j'ai realice pour apprendre plus sur le

                <span>GSAP</span>
            </p>
            <div class="arrow--down" data-component="Animation" data-box data-arrow>
                <svg class="icon icon--md">
                    <use href="#icon-arrow-right"></use>
                </svg>
                <svg class="icon icon--md">
                    <use href="#icon-arrow-right"></use>
                </svg>
                <svg class="icon icon--md">
                    <use href="#icon-arrow-right"></use>
                </svg>
            </div>
        </div>
    </div>
</section>
<section class="exercise">
    <div class="section_square">
        <div class="wrapper">
            <h2>
                Exercise
                <span class="numero">#1</span>
                Bouger la boite
            </h2>
            <div class="box" data-component="Animation" data-box></div>
        </div>
    </div>
    <div class="sections__flair">
        <div class="wrapper">
            <h2>
                Exercise
                <span class="numero">#2</span>
                Bouger la pokeball
            </h2>
            <div class="js-wrapper_poke">
                <svg class="icon icon--xl flair" data-component="Animation" data-flair>
                    <use href="#icon-pokemon"></use>
                </svg>
            </div>
            <nav class="nav">
                <ul>
                    <li>
                        <a class="button js-play">
                            play
                            <svg class="icon icon--md">
                                <use href="#icon-play"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="button js-stop">
                            pause
                            <svg class="icon icon--md">
                                <use href="#icon-stop"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="button js-resume">
                            resume
                            <svg class="icon icon--md">
                                <use href="#icon-play"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="button js-reverse">
                            reverse
                            <svg class="icon icon--md">
                                <use href="#icon-reverse"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="button js-restart">
                            restart
                            <svg class="icon icon--md">
                                <use href="#icon-restart"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="section__skill">
        <div class="wrapper">
            <h2>
                Exercise
                <span class="numero">#3</span>
                Bar de Skills
            </h2>
            <div class="skills">
                <div class="bar" data-component="Animation" data-skill>
                    <h4>
                        NENE\NENITA
                        <abbr>60%</abbr>
                        <div class="thumb"><span></span></div>
                    </h4>
                </div>
                <div class="bar" data-component="Animation" data-skill>
                    <h4>
                        NENENITA\NANA
                        <abbr>80%</abbr>
                        <div class="thumb"><span></span></div>
                    </h4>
                </div>
                <div class="bar" data-component="Animation" data-skill>
                    <h4>
                        GUSTAVITO\GUSTAVONTE
                        <abbr>40%</abbr>
                        <div class="thumb"><span></span></div>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>
{% include '_partials/_footer.html' %}
